<!DOCTYPE html>
%html{class:"no-js", lang: "es"}
%head
	%meta{:charset => "UTF-8"}
	%meta{name:"description", content:"ElectronicFoodOrder, la mejor tecnología para ordenar"}
	%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%link{:rel => "stylesheet", :href => "css/bootstrap.css"}
	%link{:rel => "stylesheet", :href => "css/normalize.css"}
	%link{:rel => "stylesheet", :href => "https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Dancing+Script"}
	%link{:rel => "stylesheet", :href => "css/style.css"}
	%title OutBess
%body.hamburguer{style: "background-image: url(/images/f1.jpeg); background-repeat: no-repeat"}
	%header
		.row.full-width.remove-margin.fixed
			.col-xs-12.remove-padding
				.nav-background
		%nav.roboto.top.right.fixed.navigation
			/ Se crea un arreglo para contener los titulos de la barra de navegacion
			-menu= ["HOME", "GALLERY", "NEWS", "RESERVATION", "CONTACT"]
			%ul.list-inline
				-menu.each do |item|
					%li
						%a{:href => ""}= item
	.row.full-height.remove-margin.middle-xs.center-xs
		.col-xs-12
			.box.white
				%h1.title.remove-margin.letter-spacing POLLO A LA PARRILLA
				%h2.dancing-script.remove-margin.small-padding Pollo a la parrila
