/ Se crea un hash para contener los titulos de la barra de navegacion
-menu= [{name: "HOME", url:"../index.html"},{name: "GALLERY", url:"#"},{name: "NEWS", url:"#"},{name: "RESERVATION", url:"#"}, {name: "CONTACT", url:"#"}]

<!DOCTYPE html>
%html{class:"no-js", lang: "es"}
%head
	%meta{:charset => "UTF-8"}/
	%meta{name:"description", content:"OutBess, la mejor tecnología para ordenar"}
	%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%script{src:"../js/vendor/modernizr-2.8.3.min.js"}
	%link{:rel => "stylesheet", :href => "../css/normalize.css"}
	%link{:rel => "stylesheet", :href => "../css/bootstrap.css"}
	%link{:rel => "stylesheet", :href => "https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Dancing+Script"}
	%link{:rel => "stylesheet", :href => "../css/style.css"}
	%title OutBess Breakfast
%body
	
	/ Barra de navegación
	.row.full-width.nav-background.fixed.remove-margin
		.col-xs-12.remove-padding
			%img.logo#responsive-logo{:src => "/images/ob1.png", :alt => ""}/
			%nav.roboto.navigation.right.top.fixed#responsive-nav
				%i.glyphicon.glyphicon-menu-hamburger.white.subtittle.glyphicon-remove#responsive-icon
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{:href => "#{item[:url]}"}= item[:name]

	/ Encabezado de la categoria
	.row.full-width.remove-margin.center-xs
		.col-xs-12.remove-padding
			.div
				%img.flag02.padding-top{:src => "../images/flag02_inv.png", :alt => ""}/

	.row.full-width.remove-margin.center-xs
		.col-xs-10.remove-padding.special-menu#special-menu{style: "background-image: url(../images/f1.jpeg);"}
			.div.padding-top.white
				%h2.title.remove-margin.medium-letter-spacing#special-menu-padding DESAYUNOS
				%h3.dancing-script.remove-margin.small-padding.small-letter-spacing.padding-bottom Pollo a la parrilla
				%p.roboto.white.medium.remove-margin.large-padding.small-letter-spacing.flag{style: "background-image: url(/images/flag01.png);"} ESPECIAL DE LA CENA

	.row.full-width.remove-margin.center-xs
		.col-xs-12.remove-padding
			.div
				%img.flag02{:src => "../images/flag02.png", :alt => ""}/

	/ Menu de cada categoria

	/ JQUERY and JavaScript
	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js",integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	%script
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")
	%script{src:"../js/main.js"}